<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
</head>
<body>
    <div id="container">
        <form class="form-corpo">
            <div class="titulo">
                <h1>Cadastrar Cliente</h1>
            </div>
            
                <div class="card-corpo">
                    <div class="card-content-area">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
                    </div>
        
                    <div class="card-content-area">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
                    </div>
        
                    <div class="card-content-area">
                        <label for="tel">Telefone</label>
                        <input type="text" class="form-control" id="tel" name="tel" placeholder="Telefone">
                    </div>
        
                    <div class="card-content-area">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    
                    <div class="card-content-area">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF">
                    </div>
                </div>

                <div class="card-footer">
                    <button class="submit" >Cadastrar</button>
                </div>
        </form>
    </div>
    
</body>
</html>
