<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Admistrativo</title>
</head>
<body>
    <div id="container">
        <form action="" class="form-corpo">
            <div class="titulo">
                <h1>Painel Admistrativo</h1>
            </div>

            <div class="card-corpo">
                <label for="cliente">Cliente</label>
                <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Buscar Cliente">
            </div>

            <div class="card-corpo">
                <label for="funcionario">Funcionario</label>
                <input type="text" class="form-control" id="funcionario" name="funcionario" placeholder="Buscar Funcionario">
            </div>

            <div class="card-footer">
                <button class="submit">Buscar</button>
            </div>

            <div class="card-footer">
                <button class="submit">Cadastrar Ods</button>
            </div>

            <div class="card-corpo">
                <label for="ods">Ordens de Serviço</label>
                <input type="text" class="form-control" id="ods" name="ods" placeholder="Buscar Ordem de Serviço" >
            </div>
        </form>
    </div>
</body>
</html>